* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
}
button {
  cursor: pointer;
}

main {
  margin-top: 10px;
}

.feed {
  box-shadow: 10px 10px 53px -0px rgba(0, 0, 0, 0.49);
  -webkit-box-shadow: 10px 10px 53px -0px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 10px 10px 53px -0px rgba(0, 0, 0, 0.49);
  width: fit-content;
  margin-bottom: 20px;
  border-radius: 10px;
}

.feed-header {
  display: flex;
  gap: 350px;
}

.head-left {
  display: flex;
  margin: 10px 0px;
}

.head-left #profile-pics img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 10px;
}

.head-left #profile-name p {
  text-align: center;
  margin-left: 10px;
  margin-top: 10px;
}

.head-right button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-top: 10px;
}

.feed-body img {
  width: 472px;
  max-height: 587px;
}
.feed-body video {
  width: 472px;
  max-height: 587px;
}

.feed-footer {
  display: flex;
  gap: 340px;
  padding-top: 10px;
}

.footer-left {
  display: flex;
  margin-left: 7px;
  gap: 10px;
}
.feed-comment {
  margin-left: 5px;
  margin-bottom: 10px;
}
#comment input[type="text"] {
  background-image: url("/static/media/icons/smile.png");
  background-repeat: no-repeat;
  padding: 12px 120px;
  background-position: 2% 50%;
  border: none;
  outline: none;
  background-color: whitesmoke;
  border-bottom-left-radius: 10px;
}
#comment input[type="submit"] {
  padding: 12px 23px;
  border-bottom-right-radius: 10px;
  border: none;
  outline: none;
  background-color: whitesmoke;
}
#comment input[type="text"]::placeholder {
  position: absolute;
  left: 10%;
}
#comment input[type="text"]::-moz-placeholder {
  position: absolute;
  left: 10%;
}

.suggest {
  margin-left: 3.6em;
}
